/*$themes: (
  light: (*/
    $textNeon: #FFF;
    $backGround: #D6BEAB;
    $neon: #03F3FF;
  /*),
  dark: (*/
    $textNeon: rgb(248, 51, 51);
    $backGround: #302B27;
    $neon: #750202;
  /*),
);*/

.container-flex{
    background-color: $backGround;
}

        .btn {
    border-radius: 50px !important;
}
#chewi{
    border-radius: 180px;
    width: 250px; 
    height: 300px;
}

.espace {
    margin-top: 100px;
}



.effetNeon {
    font-size: 30px;
    color: $textNeon;
    text-shadow:
        0 0 7px  $textNeon,
        0 0 10px $textNeon,
        0 0 42px $neon,
        0 0 77px $neon,
        0 0 100px $neon;
    animation: lumiere 0.5s infinite linear;
}

@keyframes lumiere {
    0%{
        text-shadow:
        0 0 7px $textNeon,
        0 0 10px $textNeon,
        0 0 42px $neon,
        0 0 77px $neon,
        0 0 100px $neon;
    }
   50%{
        text-shadow:
        0 0 7px $textNeon,
        0 0 10px $textNeon,
        0 0 32px $neon,
        0 0 87px $neon,
        0 0 120px $neon;
    }
}
.effetNeon span {
    font-size: 40px;
}

.containerNeon {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    justify-content: center;
}

@media all and (max-width:768px){
    .logo{
        display: none;
    }
}
