$textNeonLight: #fff;
$neonLight: #03F3FF;
$backGroundLight:#D6BEAB;
$textNeonDark: #000;
$neonDark: #A40001;
$backGroundDark:#302B27;


@if($Light-theme){
    text-color:$textNeonLight;
    color:$neonLight;
    background-color:$backGroundLight ;
}@else{
    color:$textNeonDark;
    color:$neonDark;
    color:$backGroundDark
}

.btn {
    border-radius: 50px !important;
}
#chewi{
    border-radius: 180px;
    width: 250px; 
    height: 300px;
}

.espace {
    margin-top: 100px;
}



.effetNeon {
    font-size: 30px;
    color: $textNeonLight $textNeonDark;
    text-shadow:
        0 0 7px $textNeonLight $textNeonDark,
        0 0 10px $textNeonLight $textNeonDark,
        0 0 42px $neonLight $neonDark,
        0 0 77px $neonLight $neonDark,
        0 0 100px $neonLight $neonDark;
    animation: lumiere 0.5s infinite linear;
}

@keyframes lumiere {
    0%{
        text-shadow:
        0 0 7px $textNeonLight $textNeonDark,
        0 0 10px $textNeonLight $textNeonDark,
        0 0 42px $neonLight $neonDark,
        0 0 77px $neonLight $neonDark,
        0 0 100px $neonLight $neonDark;
    }
   50%{
        text-shadow:
        0 0 7px $textNeonLight $textNeonDark,
        0 0 10px $textNeonLight $textNeonDark,
        0 0 32px $neonLight $neonDark,
        0 0 87px $neonLight $neonDark,
        0 0 120px $neonLight $neonDark;
    }
}
.effetNeon span {
    font-size: 40px;
}

.containerNeon {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    justify-content: center;
}

@media all and (max-width:768px){
    .logo{
        display: none;
    }
 
}